@import "bootstrap";
@import "startbootstrap-clean-blog";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "turn-magazine";
@import "jquery-ui";

body.photo-wrapper.overflow-hidden {
  overflow: hidden;
}
body.photo-wrapper {
  background-image: image-url("bg-4.jpeg");
  overflow: scroll;

  /* Zoom In #1 */
  .hover figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding: 5%;
    width: 70%;
  }
  .hover img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    padding: 0;
  }

  .album-wrap {
    margin-top: 120px;
    img {
      margin-left: 50%;
      margin-bottom: 120px;
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    }
  }

  .bar-wrap {
    .quit:hover {
      background-position: -66px 0;
    }
    .quit {
      background-position: -44px 0;
      cursor: default;
      right: 0;
      top: 55px;
      float: right;
    }
    a {
      transition: none;
      position: relative;
    }
    a.quit:hover {
      text-decoration: underline;
    }
    .icon {
      cursor:pointer;
      width: 22px;
      height: 22px;
      z-index: 900000;
      background-image: image-url('new-sprites.png');
      display: inline-block;
    }
  }

  @media (max-width: 768px) {
    .album-wrap {
      .hover.column {
        text-align: center;
      }
      img {
        margin-left: 0%;
      }
      a {
        pointer-events: none;
        cursor: default;
      }
      .hover figure img {
        width: 72%;
      }
    }
  }
}

@charset "UTF-8";
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes swing {
  5% {
    transform: rotate3d(0, 0, 1, 25deg);
  }

  20% {
    transform: rotate3d(0, 0, 1, 35deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 30deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, 20deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 25deg);
  }
}

.swing {
  transform-origin: top left;
  animation-name: swing;
}

@media (max-width: 768px) {
  @keyframes swing {
    20% {
      transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
      transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }

  .swing {
    transform-origin: top center;
    animation-name: swing;
  }
}
