@import "bootstrap";
@import "startbootstrap-clean-blog";

body.photo-wrapper.overflow-hidden {
  overflow: hidden;
}
body.photo-wrapper {
  background-image: image-url("home-bg.jpg");
  overflow: scroll;

  header.masthead {
    margin-top: 200px;
  }

  .container.album-wrap {
    .album-home:hover {
      z-index:2;
      cursor:none;
      background-color:white;
      -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
      -moz-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
      -ms-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
      -o-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
      transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
    }
    img {
      width: 100%;
    }
  }

  .bar-wrap {
    .quit:hover {
      background-position: -66px 0;
    }
    .quit {
      background-position: -44px 0;
      cursor: default;
      position: absolute;
      right: 0;
      top: 45px;
    }
    a {
      transition: none;
    }
    a.quit:hover {
      text-decoration: underline;
    }
    .icon {
      z-index: 100000;
      width: 22px;
      height: 22px;
      background-image: image-url('new-sprites.png');
      display: inline-block;
    }
  }
}

@charset "UTF-8";
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

